<h1>新增使用者</h1>

<%= form_with model: @user do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <%= f.submit "新增"%>
<% end %>